body,p {
  font-family:'Nunito', sans-serif;
  font-weight:400;
}

h2 {
  font-family:'Rock Salt', cursive;
}

#nav li {
  display: block;
  float:left;
  margin:5px 20px 5px 20px;
}

#page {
  width:800px;
}

#content {

}

